<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

<f:comment>
  ---
  name: productform
  url: /product
  ---
</f:comment>

<div class="grid-container">
  <h1>stocked.io</h1>
  <form>
    <div class="grid-block">
      <div class="small-12 medium-6 grid-content">
        <label>
          Produktbezeichnung
          <input type="text" placeholder="Text field">
        </label>
      </div>
    </div>
  </form>
  <a ui-sref="home">Back</a>
</div>
</html>
